.funcionario_container{
    width: 80%;
    margin: 0 auto;
    padding: 3em;
    padding: 30px;
    background-color: white;
    
    margin: 40px auto;

}

.funcionario_container h1{
    font-size: 19px;
    margin-bottom: 0.2em;
}

.funcionario_container p{
    color: #7b7b7b;
}