.manutencao_container{
    width: 500px;
    margin: 0 auto;
    padding: 3em;
    padding: 30px;
    background-color: white;
    margin: 40px auto;
}

.manutencao_container h1{
    font-size: 19px;
    margin-bottom: 0.2em;
    text-transform:uppercase;
    text-align: center;
}

.manutencao_container p{
    color: #7b7b7b;
}